.task {
  background-color: #c0c0c0;
  margin: 5px;
  padding: 15px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.task:hover {
  background-color: #a0a0a0;
}

.task-description {
  display: flex;
  width: 93%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-description:hover {
  overflow: visible;
  white-space: normal;
  text-overflow: ellipsis;
  height: auto; /* just added this line */
}

.task-actions {
  display: flex;
  justify-content: space-between;
  width: 7%;
  margin-left: 1.3rem;
}

.task-checkbox {
  margin-right: 1rem;
  width: 1.8rem;
  height: 1.8rem;
}

.editIcon {
  margin-top: 0.55rem;
  color: #0000ffcc;
}

.deleteIcon {
  margin-top: 0.3rem;
  color: #ff0000cc;
}

input[type="checkbox"] {
  filter: invert(0%) hue-rotate(180deg) brightness(1.5);
}