<div class="task">
  <input
    class="task-checkbox"
    type="checkbox"
    [checked]="task?.done"
    value="{{ task?.done }}"
  />
  <div class="task-description ellipsis">
    <h3>{{ task?.description | slice: 0:100 }}</h3>
  </div>
  <div class="task-actions">
    <a class="editIcon" [routerLink]="['task/edit', task?.id]">
      <fa-icon [icon]="faPen" size="lg"></fa-icon>
    </a>
    <a class="deleteIcon" (click)="deleteTask(task?.id)">
      <fa-icon [icon]="faTimes" size="2x"></fa-icon>
    </a>
  </div>
</div>
