<form class="form" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="description" class="form-label">Description</label>
    <input
      type="text"
      class="form-input"
      id="description"
      autocomplete="off"
      required
      [ngModel]="task!.description"
      name="description"
    />
  </div>
  <div class="form-radio-group-and-button">
    <div class="form-radio-group">
      <input
        type="radio"
        class="form-radio-input"
        id="to-do"
        [value]="false"
        [(ngModel)]="task!.done"
        name="done"
      />
      <label for="to-do" class="form-radio-label">
        <span class="form-radio-button"></span>
        To Do
      </label>
    </div>
    <div class="form-radio-group">
      <input
        type="radio"
        class="form-radio-input"
        id="done"
        [value]="true"
        [(ngModel)]="task!.done"
        name="done"
      />
      <label for="done" class="form-radio-label">
        <span class="form-radio-button"></span>
        Done!
      </label>
    </div>
    <div class="form-radio-group">
      <app-button [name]="btnName" [class]="btnClass"></app-button>
    </div>
  </div>
</form>
